@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fernando Tedokon<br />
    <abbr title="Telefone">Cel:</abbr>
    (16) 99306-4177
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:tedokon@gmail.com">tedokon@gmail.com</a><br />
</address>